export(createrdat)
export(downloadcorpus)
export(getarticletitles)
export(getauthors)
export(getrecord)
export(hindawi_search)
export(identify)
export(journals)
export(listidentifiers)
export(listmetadataformats)
export(listrecords)
export(listsets)
export(loadcorpus)
export(subjects)
export(unzipcorpus)
import(OAIHarvester)
import(XML)
import(ggplot2)
import(plyr)
import(sacbox)
import(tm)
