export(createrdat)
export(downloadcorpus)
export(getarticletitles)
export(getauthors)
export(hindawi_search)
export(hw_getrecord)
export(hw_identify)
export(hw_listidentifiers)
export(hw_listmetadataformats)
export(hw_listrecords)
export(hw_listsets)
export(journals)
export(loadcorpus)
export(subjects)
export(unzipcorpus)
import(OAIHarvester)
import(XML)
import(ggplot2)
import(plyr)
import(sacbox)
import(tm)
